.cover__link {
  max-width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../../images/cover__background.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width:1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover__link {
    min-height: calc(200px + (280 + 280*0.7) * ((100vw - 320px) / 768));
  }
}

.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 2;

}

.cover__link:hover::after {
  opacity: 0.8;
}