.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: calc(32px + (10 + 10*0.7) * ((100vw - 320px) / 768));
    line-height: 110%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    padding: 0 calc(16px + (8 + 8*0.7) * ((100vw - 320px) / 768));
  }
}