.photo-grid {
  margin: 0 auto 92px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 0 auto 88px;
    gap: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 768));
    padding: 0 calc(16px + (8 + 8*0.7) * ((100vw - 320px) / 768));
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 0 auto 53px;
  }
}