.lead__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
  line-height: 104%;
  max-width: 720px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(40px + (56 + 56*0.7) * ((100vw - 320px) / 768));
    padding: 0 calc(16px + (8 + 8*0.7) * ((100vw - 320px) / 768));
  }
}