.place__paragraph {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
    font-size: 1em;
    line-height: 163%;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 calc(16px + (8 + 8*0.7) * ((100vw - 320px) / 768))
  }
}