.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width:768px) {
  .cover {
    padding-top: calc(66px + (24 + 24*0.7) * ((100vw - 320px) / 768));
    padding-bottom: calc(64px + (24 + 24*0.7) * ((100vw - 320px) / 768));
  }
}