.lead__caption {
  font-weight: 400;
  font-size: 0.625em;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 0 calc(16px + (8 + 8*0.7) * ((100vw - 320px) / 768));
  }
}