.cover__title {
  font-family: 'Inter-Bold';
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
  font-size: 4.5em;
  font-weight: 900;
  line-height: calc(76 / 72);
  z-index: 32;
}

@media screen and (max-width:767px) {
  .cover__title {
    box-sizing: border-box;
    padding: 0 35px 0;
    font-size: 32px;
    line-height: 35px;
  }
}