.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px minmax(min-content, 352px);
    gap: 48px 28px;
    margin: 0 0 calc(50px + (23 + 23*0.7)*((100vw - 320)/768));
  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: minmax(min-content, 425px);
    gap: 32px;
    justify-content: center;
  }
}

.place:last-child {
  margin: 0;
}